[submodule "deps/libltntstools"]
	path = deps/libltntstools
	url = https://github.com/LTNGlobal-opensource/libltntstools.git
[submodule "deps/librdkafka"]
	path = deps/librdkafka
	url = https://github.com/confluentinc/librdkafka.git
[submodule "deps/openssl"]
	path = deps/openssl
	url = https://github.com/openssl/openssl.git
[submodule "deps/json-c"]
	path = deps/json-c
	url = https://github.com/json-c/json-c.git
[submodule "deps/libzvbi"]
	path = deps/libzvbi
	url = https://github.com/LTNGlobal-opensource/libzvbi.git
