[submodule "deps/libltntstools"]
	path = deps/libltntstools
	url = https://github.com/LTNGlobal-opensource/libltntstools.git
[submodule "deps/librdkafka"]
	path = deps/librdkafka
	url = https://github.com/confluentinc/librdkafka.git
[submodule "deps/openssl"]
	path = deps/openssl
	url = https://github.com/openssl/openssl.git
[submodule "deps/json-c"]
	path = deps/json-c
	url = https://github.com/json-c/json-c.git
[submodule "deps/libzvbi"]
	path = deps/libzvbi
	url = https://github.com/LTNGlobal-opensource/libzvbi.git
[submodule "deps/libwebsockets"]
	path = deps/libwebsockets
	url = https://github.com/warmcat/libwebsockets.git
[submodule "deps/srt"]
	path = deps/srt
	url = https://github.com/Haivision/srt.git
[submodule "deps/MediaInfoLib"]
	path = deps/MediaInfoLib
	url = https://github.com/MediaArea/MediaInfoLib.git
[submodule "deps/ffmpeg"]
	path = deps/ffmpeg
	url = https://git.ffmpeg.org/ffmpeg.git
[submodule "deps/libklvanc"]
	path = deps/libklvanc
	url = https://github.com/LTNGlobal-opensource/libklvanc.git
